<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello User</title>
</head>

<body>
    <h1>Hello User!</h1>
    <h2>I know about you:</h2>
    <p>User Agent: {{ user_agent }}</p>
    <p>IP Address: {{ remote_addr }}</p>
    <p>Accepted Languages: {{ accept_languages }}</p>
    <p>Referrer: {{ referrer }}</p>
    <p>Request Method: {{ method }}</p>
    <p>Request URL: {{ url }}</p>
</body>

</html>